<ion-content scrollY="false" [fullscreen]="true" style="--background: #2E3034;">
  <div class="wrapper" *ngIf="this.viewALL">
    <!-- *** fut-player-card ***-->
    <div class="fut-player-card">
      <!-- Player Card Top-->
      <div class="player-card-top">
        <div class="player-master-info">
          <div class="player-rating"><span>97</span></div>
          <div class="player-position"><span>RW</span></div>
          <!-- <div class="player-nation"><img src="https://selimdoyranli.com/cdn/fut-player-card/img/argentina.svg" alt="Argentina" draggable="false"></div> -->
          <div class="player-club"><img src="../../../../assets/images/ogcnice.png" draggable="false"></div>
        </div>
        <div class="player-picture"><img src="https://selimdoyranli.com/cdn/fut-player-card/img/messi.png"
            draggable="false">

        </div>
      </div>
      <!-- Player Card Bottom-->
      <div class="player-card-bottom">
        <div class="player-info">
          <!-- Player Name-->
          <div class="player-name"><span>{{infos[0].name_user | uppercase}}</span></div>

          <!-- Player Features-->
          <div class="player-features">
            <div class="player-features-col">
              <span>
                <div class="player-feature-value">{{averagePhy}}</div>

                <div class="player-feature-title">PHY</div>
              </span>
              <!-- display: flex;
    flex-direction: column;
    align-items: center; pour les mettre lun au dessus de lautre  -->
              <span >
                <div class="player-feature-value">{{averageTec}}</div>

                <div class="player-feature-title">TCH</div>
              </span>
            </div>
            <div class="player-features-col">
              <span>
                <div class="player-feature-value">{{averageTac}}</div>
                <div class="player-feature-title">TAC</div>
              </span>

              <span>
                <div class="player-feature-value">{{averageMen}}</div>
                <div class="player-feature-title">MTL</div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</ion-content>
<app-footer></app-footer>
