
<ion-content style="--background: #2E3034;display: flex;" scrollY="false" [fullscreen]="true"  >
<div class="d-flex flex-row">
  <div class="m-auto mt-10"><img src="https://selimdoyranli.com/cdn/fut-player-card/img/messi.png" draggable="false"></div>
  <img class="editIcon" src="../../../../assets//images/edit.svg" alt="">

</div>

<div class="containTeamPositionBlock">
<div class="SpanTeamPositionBlock">
  <span class="spanTeamPosition">U17</span>
</div>

<div class="SpanTeamPositionBlock">
  <span class="spanTeamPosition" >Attaquant</span>
  <span class="spanTeamPosition ml-5" >Ailier gauche</span>
</div>
</div>

<div class="containUserInfo">

<div class="editIconBlock">
  <img src="../../../../assets/images/edit.svg" alt="">

</div>

  <div class="infoUserBlock">
    <img width="20px"  src="../../../../assets/images/ogcnice.png" alt="">
    <span class="font ml-5"  >Lionel Messi</span>
  </div>

  <div class="infoUserBlock mt-5" >
     <img width="20px"  src="../../../../assets/images/birthday-cake.png" alt="">
      <span  class="font ml-5" >16/07/2021</span>
  </div>

  <div class="infoUserBlock mt-5" >
    <img width="20px"  src="../../../../assets/images/gmail.png" alt="">
     <span class="font ml-5" >Lionel.messi31@gmail.com</span>
  </div>


<span class="mediumColor mt-20" >Modifier mon mot de passe</span>
<span class="mediumColor mt-5" >Se deconnecter</span>

</div>


</ion-content>
  <app-footer></app-footer>
