<ion-content  scrollY="false" [fullscreen]="true"  style="--background : #2E3034;" >
    <!-- <ion-grid  style="margin-top : 50%">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col  size-md="6" size-lg="5" size-xs="12">
          <div class="login-header">
          </div>
          <div  class="login-items">

            <ion-item style="margin-top: 10%;">
              <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Email" ></ion-input>
            </ion-item>
            <ion-item style="margin-top: 10%;">
              <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Mot de passe" ></ion-input>
            </ion-item>
          </div>
          <div style="margin-top: 15%;"  class="login-submit">
            <ion-button color="primary" type="submit" expand="block" (click)="login()" >Connexion</ion-button>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid> -->
<div class=" d-flex mt-60 flex-col ion-align-items-center">

<div class="d-flex flex-row mt-10">
<ion-item lines="none" style="--background: #2E3034;border-radius: 12px;border: 1px solid #6E7899;color: #FFFFFF">
    <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Email" ></ion-input>
</ion-item>
</div>

<div class=" d-flex flex-row mt-10">
  <ion-item lines="none" style="--background: #2E3034;border-radius: 12px;border: 1px solid #6E7899;color: #FFFFFF">
    <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Mot de passe" ></ion-input>
  </ion-item>
</div>


<div class="w-100 d-flex flex-row mt-20">
  <button (click)="login()" style=" margin: auto;background-color: #2E3034;border-radius: 32px;border: 1px solid #6E7899;width: 50%;padding: 10px;" class="fontTitle">Se connecter</button>
</div>

</div>

</ion-content>
